html {
	font-family: "PingFangSC-Light",Arial,sans-serif;
	color: #444;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0 100px;
}

img {
    display: block;
}